OLDEV-Support-Triage-Ops.json
{
  "name": "OLDEV-Support-Triage-Ops",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "oldev-support-ticket",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "44444444-0001-4001-8001-000000000001",
      "name": "New Ticket Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-400, 0],
      "webhookId": "oldev-support-ticket"
    },
    {
      "parameters": {
        "mode": "manual",
        "includeOtherFields": false,
        "assignments": {
          "assignments": [
            { "id": "n1", "name": "ticketId", "value": "={{ $json.body?.ticketId ?? $json.ticketId ?? ('T-' + $now.toMillis()) }}", "type": "string" },
            { "id": "n2", "name": "email", "value": "={{ ($json.body?.email ?? $json.email ?? '').toString().trim().toLowerCase() }}", "type": "string" },
            { "id": "n3", "name": "name", "value": "={{ $json.body?.name ?? $json.name ?? '' }}", "type": "string" },
            { "id": "n4", "name": "subject", "value": "={{ $json.body?.subject ?? $json.subject ?? '' }}", "type": "string" },
            { "id": "n5", "name": "message", "value": "={{ $json.body?.message ?? $json.message ?? '' }}", "type": "string" },
            { "id": "n6", "name": "plan", "value": "={{ $json.body?.plan ?? $json.plan ?? 'free' }}", "type": "string" },
            { "id": "n7", "name": "domain", "value": "={{ (($json.body?.email ?? $json.email ?? '').toString().split('@')[1] || '').toLowerCase() }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "44444444-0002-4001-8001-000000000002",
      "name": "Normalize Ticket",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-180, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            { "id": "v1", "leftValue": "={{ $json.email }}", "rightValue": "^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$", "operator": { "type": "string", "operation": "regex" } },
            { "id": "v2", "leftValue": "={{ $json.message }}", "rightValue": "", "operator": { "type": "string", "operation": "notEmpty" } }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "44444444-0003-4001-8001-000000000003",
      "name": "Valid Ticket?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [40, 0]
    },
    {
      "parameters": {
        "mode": "manual",
        "includeOtherFields": true,
        "assignments": { "assignments": [ { "id": "bj1", "name": "rejectReason", "value": "missing_email_or_message", "type": "string" } ] },
        "options": {}
      },
      "id": "44444444-0004-4001-8001-000000000004",
      "name": "Mark Rejected",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [260, 220]
    },
    {
      "parameters": {
        "fromEmail": "support@oldev.site",
        "toEmail": "ops@oldev.site",
        "subject": "=Triage: rejected ticket {{ $json.ticketId }}",
        "html": "=<p>Ticket {{ $json.ticketId }} rejected: {{ $json.rejectReason }}.</p>",
        "options": {}
      },
      "id": "44444444-0005-4001-8001-000000000005",
      "name": "Email: Rejection Log",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [480, 220]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// Keyword + heuristic classifier (no AI key needed). Topic + urgency + sentiment.\nconst out = [];\nfor (const item of $input.all()) {\n  const j = item.json;\n  const text = ((j.subject || '') + ' ' + (j.message || '')).toLowerCase();\n  const has = function (words) { return words.some(function (w) { return text.indexOf(w) !== -1; }); };\n\n  let topic = 'general';\n  if (has(['refund','charge','invoice','billing','payment','card'])) topic = 'billing';\n  else if (has(['bug','error','broken','crash','not working','500','fail'])) topic = 'bug';\n  else if (has(['password','login','access','locked','2fa','reset'])) topic = 'account';\n  else if (has(['cancel','downgrade','churn','close account'])) topic = 'retention';\n  else if (has(['feature','request','suggest','would be nice'])) topic = 'feature';\n\n  let urgency = 'normal';\n  if (has(['urgent','asap','immediately','down','outage','can\\'t access','critical','emergency'])) urgency = 'high';\n  else if (has(['whenever','no rush','minor','question'])) urgency = 'low';\n\n  const negWords = ['angry','terrible','worst','unacceptable','furious','disappointed','scam','refund'];\n  const negHits = negWords.filter(function (w) { return text.indexOf(w) !== -1; }).length;\n  const sentiment = negHits >= 2 ? 'negative' : (negHits === 1 ? 'mixed' : 'neutral');\n\n  out.push({ json: Object.assign({}, j, { topic: topic, urgency: urgency, sentiment: sentiment, classifiedAt: $now.toISO() }) });\n}\nreturn out;"
      },
      "id": "44444444-0006-4001-8001-000000000006",
      "name": "Classify (topic/urgency/sentiment)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [260, -40]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://dns.google/resolve?name={{ $json.domain }}&type=MX",
        "options": { "timeout": 8000 }
      },
      "id": "44444444-0007-4001-8001-000000000007",
      "name": "Enrich: MX Lookup",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, -160],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://rdap.org/domain/{{ $json.domain }}",
        "options": { "timeout": 8000 }
      },
      "id": "44444444-0008-4001-8001-000000000008",
      "name": "Enrich: RDAP Domain",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 0],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://disify.com/api/email/{{ $json.email }}",
        "options": { "timeout": 8000 }
      },
      "id": "44444444-0009-4001-8001-000000000009",
      "name": "Enrich: Disposable Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 160],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": { "numberInputs": 3 },
      "id": "44444444-0010-4001-8001-000000000010",
      "name": "Merge Enrichment",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [740, 0]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const base = $('Classify (topic/urgency/sentiment)').first().json;\nconst mx = $('Enrich: MX Lookup').first().json || {};\nconst rdap = $('Enrich: RDAP Domain').first().json || {};\nconst disp = $('Enrich: Disposable Check').first().json || {};\n\nconst hasMx = !!(mx && mx.Answer && mx.Answer.length);\nlet ageDays = null;\nif (rdap && Array.isArray(rdap.events)) {\n  const reg = rdap.events.find(function (e) { return e.eventAction === 'registration'; });\n  if (reg && reg.eventDate) ageDays = Math.round(($now.toMillis() - new Date(reg.eventDate).getTime()) / 86400000);\n}\nconst isDisposable = !!(disp && disp.disposable === true);\nconst businessDomain = hasMx && !isDisposable;\n\nreturn [{ json: Object.assign({}, base, {\n  hasMx: hasMx, domainAgeDays: ageDays, isDisposable: isDisposable, businessDomain: businessDomain\n}) }];"
      },
      "id": "44444444-0011-4001-8001-000000000011",
      "name": "Fold Enrichment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 0]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// Priority score from plan + urgency + sentiment + whether it's a real business domain.\nconst out = [];\nfor (const item of $input.all()) {\n  const j = item.json;\n  let score = 0;\n  const planWeight = { enterprise: 40, pro: 25, paid: 20, free: 5 };\n  score += (planWeight[j.plan] != null ? planWeight[j.plan] : 5);\n  if (j.urgency === 'high') score += 35; else if (j.urgency === 'low') score -= 10;\n  if (j.sentiment === 'negative') score += 20; else if (j.sentiment === 'mixed') score += 8;\n  if (j.topic === 'retention') score += 25;\n  if (j.topic === 'billing') score += 10;\n  if (j.businessDomain) score += 10; else score -= 5;\n  if (j.isDisposable) score -= 25;\n  if (score < 0) score = 0; if (score > 100) score = 100;\n\n  // SLA minutes by tier\n  let priority = 'P3';\n  if (score >= 70) priority = 'P1'; else if (score >= 45) priority = 'P2';\n  const slaMinutes = priority === 'P1' ? 30 : (priority === 'P2' ? 240 : 1440);\n  const dueAt = $now.plus({ minutes: slaMinutes }).toISO();\n\n  out.push({ json: Object.assign({}, j, { priorityScore: score, priority: priority, slaMinutes: slaMinutes, dueAt: dueAt }) });\n}\nreturn out;"
      },
      "id": "44444444-0012-4001-8001-000000000012",
      "name": "Score & Set SLA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1180, 0]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" }, "conditions": [ { "leftValue": "={{ $json.topic }}", "rightValue": "billing", "operator": { "type": "string", "operation": "equals" } } ], "combinator": "and" }, "renameOutput": true, "outputKey": "billing" },
            { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" }, "conditions": [ { "leftValue": "={{ $json.topic }}", "rightValue": "bug", "operator": { "type": "string", "operation": "equals" } } ], "combinator": "and" }, "renameOutput": true, "outputKey": "bug" },
            { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" }, "conditions": [ { "leftValue": "={{ $json.topic }}", "rightValue": "account", "operator": { "type": "string", "operation": "equals" } } ], "combinator": "and" }, "renameOutput": true, "outputKey": "account" },
            { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" }, "conditions": [ { "leftValue": "={{ $json.topic }}", "rightValue": "retention", "operator": { "type": "string", "operation": "equals" } } ], "combinator": "and" }, "renameOutput": true, "outputKey": "retention" }
          ]
        },
        "options": { "fallbackOutput": "extra", "renameFallbackOutput": "general" }
      },
      "id": "44444444-0013-4001-8001-000000000013",
      "name": "Route by Topic",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [1400, 0]
    },
    {
      "parameters": {
        "mode": "manual",
        "includeOtherFields": true,
        "assignments": { "assignments": [ { "id": "ob1", "name": "owner", "value": "billing@oldev.site", "type": "string" }, { "id": "ob2", "name": "queue", "value": "Billing", "type": "string" } ] },
        "options": {}
      },
      "id": "44444444-0014-4001-8001-000000000014",
      "name": "Assign: Billing",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1640, -260]
    },
    {
      "parameters": {
        "mode": "manual",
        "includeOtherFields": true,
        "assignments": { "assignments": [ { "id": "og1", "name": "owner", "value": "engineering@oldev.site", "type": "string" }, { "id": "og2", "name": "queue", "value": "Engineering", "type": "string" } ] },
        "options": {}
      },
      "id": "44444444-0015-4001-8001-000000000015",
      "name": "Assign: Bug",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1640, -120]
    },
    {
      "parameters": {
        "mode": "manual",
        "includeOtherFields": true,
        "assignments": { "assignments": [ { "id": "oa1", "name": "owner", "value": "accounts@oldev.site", "type": "string" }, { "id": "oa2", "name": "queue", "value": "Account", "type": "string" } ] },
        "options": {}
      },
      "id": "44444444-0016-4001-8001-000000000016",
      "name": "Assign: Account",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1640, 20]
    },
    {
      "parameters": {
        "mode": "manual",
        "includeOtherFields": true,
        "assignments": { "assignments": [ { "id": "or1", "name": "owner", "value": "success@oldev.site", "type": "string" }, { "id": "or2", "name": "queue", "value": "Retention", "type": "string" } ] },
        "options": {}
      },
      "id": "44444444-0017-4001-8001-000000000017",
      "name": "Assign: Retention",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1640, 160]
    },
    {
      "parameters": {
        "mode": "manual",
        "includeOtherFields": true,
        "assignments": { "assignments": [ { "id": "oz1", "name": "owner", "value": "support@oldev.site", "type": "string" }, { "id": "oz2", "name": "queue", "value": "General", "type": "string" } ] },
        "options": {}
      },
      "id": "44444444-0018-4001-8001-000000000018",
      "name": "Assign: General",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1640, 300]
    },
    {
      "parameters": { "numberInputs": 5 },
      "id": "44444444-0019-4001-8001-000000000019",
      "name": "Merge Assigned",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [1880, 20]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wp.oldev.site/wp-json/oldev/v1/tickets",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ ticketId: $json.ticketId, email: $json.email, topic: $json.topic, priority: $json.priority, owner: $json.owner, dueAt: $json.dueAt }) }}",
        "options": { "timeout": 10000 }
      },
      "id": "44444444-0020-4001-8001-000000000020",
      "name": "Upsert Ticket (Helpdesk API)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2100, 20],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "manual",
        "includeOtherFields": true,
        "assignments": { "assignments": [ { "id": "ue1", "name": "persistError", "value": "={{ $json.error?.message ?? 'helpdesk upsert failed' }}", "type": "string" } ] },
        "options": {}
      },
      "id": "44444444-0021-4001-8001-000000000021",
      "name": "Capture Persist Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2100, 240]
    },
    {
      "parameters": {
        "fromEmail": "support@oldev.site",
        "toEmail": "ops@oldev.site",
        "subject": "=Triage: helpdesk write failed {{ $json.ticketId }}",
        "html": "=<p>Ticket {{ $json.ticketId }} classified but helpdesk persist failed: {{ $json.persistError }}.</p>",
        "options": {}
      },
      "id": "44444444-0022-4001-8001-000000000022",
      "name": "Email: Persist Failure",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [2320, 240]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [ { "id": "p1", "leftValue": "={{ $json.priority }}", "rightValue": "P1", "operator": { "type": "string", "operation": "equals" } } ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "44444444-0023-4001-8001-000000000023",
      "name": "Is P1?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [2320, 0]
    },
    {
      "parameters": {
        "fromEmail": "support@oldev.site",
        "toEmail": "={{ $json.owner }}",
        "subject": "=[P1] {{ $json.topic }}: {{ $json.subject }} ({{ $json.ticketId }})",
        "html": "=<h2>P1 ticket assigned</h2><p>From {{ $json.name }} &lt;{{ $json.email }}&gt; (plan: {{ $json.plan }})</p><p>Priority score {{ $json.priorityScore }} · sentiment {{ $json.sentiment }} · due {{ $json.dueAt }}</p><blockquote>{{ $json.message }}</blockquote>",
        "options": {}
      },
      "id": "44444444-0024-4001-8001-000000000024",
      "name": "Email: P1 Owner Alert",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [2560, -120]
    },
    {
      "parameters": {
        "fromEmail": "support@oldev.site",
        "toEmail": "oncall@oldev.site",
        "subject": "=[P1 ESCALATION] {{ $json.ticketId }}: 30 min SLA",
        "html": "=<p>P1 ticket {{ $json.ticketId }} ({{ $json.topic }}) has a 30-minute SLA, due {{ $json.dueAt }}. Owner: {{ $json.owner }}.</p>",
        "options": {}
      },
      "id": "44444444-0025-4001-8001-000000000025",
      "name": "Email: P1 Escalation",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [2560, 20]
    },
    {
      "parameters": {
        "fromEmail": "support@oldev.site",
        "toEmail": "={{ $json.owner }}",
        "subject": "=[{{ $json.priority }}] {{ $json.topic }}: {{ $json.subject }} ({{ $json.ticketId }})",
        "html": "=<p>New {{ $json.priority }} ticket assigned to {{ $json.queue }} queue. Due {{ $json.dueAt }}.</p><blockquote>{{ $json.message }}</blockquote>",
        "options": {}
      },
      "id": "44444444-0026-4001-8001-000000000026",
      "name": "Email: Standard Owner Alert",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [2560, 180]
    },
    {
      "parameters": {
        "fromEmail": "support@oldev.site",
        "toEmail": "={{ $json.email }}",
        "subject": "=We got your message ({{ $json.ticketId }})",
        "html": "=<p>Hi {{ $json.name }}, thanks for reaching out. Your ticket {{ $json.ticketId }} is logged as {{ $json.priority }} and routed to our {{ $json.queue }} team. We'll reply within the SLA window.</p>",
        "options": {}
      },
      "id": "44444444-0027-4001-8001-000000000027",
      "name": "Email: Auto-Ack to Customer",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [2560, 340]
    },
    {
      "parameters": {
        "rule": { "interval": [ { "field": "cronExpression", "expression": "0 7 * * 1-5" } ] }
      },
      "id": "44444444-0028-4001-8001-000000000028",
      "name": "Daily 7am (weekdays)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-400, 760]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://wp.oldev.site/wp-json/oldev/v1/tickets?status=open",
        "options": { "timeout": 10000 }
      },
      "id": "44444444-0029-4001-8001-000000000029",
      "name": "Fetch Open Tickets",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-180, 760],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "fieldToSplitOut": "tickets",
        "options": {}
      },
      "id": "44444444-0030-4001-8001-000000000030",
      "name": "Split Tickets",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [40, 760]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// Flag tickets whose SLA due time has passed.\nconst out = [];\nfor (const item of $input.all()) {\n  const j = item.json;\n  const due = j.dueAt ? new Date(j.dueAt).getTime() : null;\n  const breached = due !== null && due < $now.toMillis();\n  const overdueMin = (due !== null && breached) ? Math.round(($now.toMillis() - due) / 60000) : 0;\n  out.push({ json: Object.assign({}, j, { breached: breached, overdueMin: overdueMin }) });\n}\nreturn out;"
      },
      "id": "44444444-0031-4001-8001-000000000031",
      "name": "Flag SLA Breaches",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [260, 760]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [ { "id": "b1", "leftValue": "={{ $json.breached }}", "rightValue": "", "operator": { "type": "boolean", "operation": "true", "singleValue": true } } ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "44444444-0032-4001-8001-000000000032",
      "name": "Filter Breached",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [480, 760]
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [ { "fieldToAggregate": "ticketId" }, { "fieldToAggregate": "overdueMin" }, { "fieldToAggregate": "owner" } ]
        },
        "options": {}
      },
      "id": "44444444-0033-4001-8001-000000000033",
      "name": "Aggregate Breaches",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [700, 760]
    },
    {
      "parameters": {
        "fromEmail": "support@oldev.site",
        "toEmail": "leadership@oldev.site",
        "subject": "=Daily support digest: {{ $now.toFormat('yyyy-LL-dd') }}",
        "html": "=<h2>SLA breaches today</h2><p>{{ $json.ticketId?.length ?? 0 }} ticket(s) past SLA.</p><pre>{{ JSON.stringify($json, null, 2) }}</pre>",
        "options": {}
      },
      "id": "44444444-0034-4001-8001-000000000034",
      "name": "Email: Daily Digest",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [920, 760]
    },
    {
      "parameters": {
        "fromEmail": "support@oldev.site",
        "toEmail": "oncall@oldev.site",
        "subject": "=SLA BREACH sweep: {{ $json.ticketId?.length ?? 0 }} overdue",
        "html": "=<p>The morning sweep found overdue tickets. On-call: please action.</p><pre>{{ JSON.stringify($json, null, 2) }}</pre>",
        "options": {}
      },
      "id": "44444444-0035-4001-8001-000000000035",
      "name": "Email: Breach Escalation",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [920, 940]
    },
    {
      "parameters": {},
      "id": "44444444-0036-4001-8001-000000000036",
      "name": "On Error",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [-400, 1140]
    },
    {
      "parameters": {
        "fromEmail": "support@oldev.site",
        "toEmail": "ops@oldev.site",
        "subject": "=Triage pipeline ERROR: {{ $json.workflow?.name }}",
        "html": "=<h2>Workflow error</h2><p>Node: {{ $json.execution?.lastNodeExecuted }}</p><pre>{{ $json.execution?.error?.message }}</pre>",
        "options": {}
      },
      "id": "44444444-0037-4001-8001-000000000037",
      "name": "Email: Pipeline Error",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [-180, 1140]
    },
    {
      "parameters": {
        "content": "## OLDEV: Support Triage & SLA Ops\nEnd-to-end helpdesk automation. Two triggers: (1) Webhook per inbound ticket, which validates, classifies (topic/urgency/sentiment), enriches the sender domain via live public APIs, scores & sets SLA, routes to the right queue, persists, and sends auto-ack + tiered owner/escalation emails. (2) Daily 7am sweep, which fetches open tickets, flags SLA breaches, and emails a leadership digest + on-call escalation. Public APIs run with no auth; Email Send + helpdesk HTTP nodes need credentials selected after import.",
        "height": 260,
        "width": 720,
        "color": 4
      },
      "id": "44444444-0038-4001-8001-000000000038",
      "name": "Sticky Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-400, -320]
    },
    {
      "parameters": {
        "content": "### Lane 1: Ingest & Classify\nWebhook -> normalize -> validate -> keyword classifier (topic / urgency / sentiment). Invalid tickets branch off to a rejection log.",
        "height": 220,
        "width": 360,
        "color": 6
      },
      "id": "44444444-0039-4001-8001-000000000039",
      "name": "Sticky Lane1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [40, -300]
    },
    {
      "parameters": {
        "content": "### Lane 2: Enrich & Score\n3 parallel live lookups (MX / RDAP age / disposable) -> merge -> fold -> priority score -> P1/P2/P3 + SLA due time.",
        "height": 200,
        "width": 380,
        "color": 6
      },
      "id": "44444444-0040-4001-8001-000000000040",
      "name": "Sticky Lane2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [740, -320]
    },
    {
      "parameters": {
        "content": "### Lane 3: Route, Persist & Notify\nSwitch by topic -> assign owner/queue -> merge -> upsert to helpdesk (with error branch) -> P1 escalation vs standard alert -> customer auto-ack.",
        "height": 200,
        "width": 420,
        "color": 6
      },
      "id": "44444444-0041-4001-8001-000000000041",
      "name": "Sticky Lane3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1880, -300]
    },
    {
      "parameters": {
        "content": "### Lane 4: Daily SLA Sweep\nSchedule 7am weekdays -> fetch open tickets -> split -> flag breaches -> filter -> aggregate -> leadership digest + on-call escalation.",
        "height": 200,
        "width": 420,
        "color": 5
      },
      "id": "44444444-0042-4001-8001-000000000042",
      "name": "Sticky Lane4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-400, 540]
    }
  ],
  "connections": {
    "New Ticket Webhook": { "main": [[{ "node": "Normalize Ticket", "type": "main", "index": 0 }]] },
    "Normalize Ticket": { "main": [[{ "node": "Valid Ticket?", "type": "main", "index": 0 }]] },
    "Valid Ticket?": {
      "main": [
        [{ "node": "Classify (topic/urgency/sentiment)", "type": "main", "index": 0 }],
        [{ "node": "Mark Rejected", "type": "main", "index": 0 }]
      ]
    },
    "Mark Rejected": { "main": [[{ "node": "Email: Rejection Log", "type": "main", "index": 0 }]] },
    "Classify (topic/urgency/sentiment)": {
      "main": [[
        { "node": "Enrich: MX Lookup", "type": "main", "index": 0 },
        { "node": "Enrich: RDAP Domain", "type": "main", "index": 0 },
        { "node": "Enrich: Disposable Check", "type": "main", "index": 0 }
      ]]
    },
    "Enrich: MX Lookup": { "main": [[{ "node": "Merge Enrichment", "type": "main", "index": 0 }]] },
    "Enrich: RDAP Domain": { "main": [[{ "node": "Merge Enrichment", "type": "main", "index": 1 }]] },
    "Enrich: Disposable Check": { "main": [[{ "node": "Merge Enrichment", "type": "main", "index": 2 }]] },
    "Merge Enrichment": { "main": [[{ "node": "Fold Enrichment", "type": "main", "index": 0 }]] },
    "Fold Enrichment": { "main": [[{ "node": "Score & Set SLA", "type": "main", "index": 0 }]] },
    "Score & Set SLA": { "main": [[{ "node": "Route by Topic", "type": "main", "index": 0 }]] },
    "Route by Topic": {
      "main": [
        [{ "node": "Assign: Billing", "type": "main", "index": 0 }],
        [{ "node": "Assign: Bug", "type": "main", "index": 0 }],
        [{ "node": "Assign: Account", "type": "main", "index": 0 }],
        [{ "node": "Assign: Retention", "type": "main", "index": 0 }],
        [{ "node": "Assign: General", "type": "main", "index": 0 }]
      ]
    },
    "Assign: Billing": { "main": [[{ "node": "Merge Assigned", "type": "main", "index": 0 }]] },
    "Assign: Bug": { "main": [[{ "node": "Merge Assigned", "type": "main", "index": 1 }]] },
    "Assign: Account": { "main": [[{ "node": "Merge Assigned", "type": "main", "index": 2 }]] },
    "Assign: Retention": { "main": [[{ "node": "Merge Assigned", "type": "main", "index": 3 }]] },
    "Assign: General": { "main": [[{ "node": "Merge Assigned", "type": "main", "index": 4 }]] },
    "Merge Assigned": { "main": [[{ "node": "Upsert Ticket (Helpdesk API)", "type": "main", "index": 0 }]] },
    "Upsert Ticket (Helpdesk API)": {
      "main": [
        [{ "node": "Is P1?", "type": "main", "index": 0 }],
        [{ "node": "Capture Persist Error", "type": "main", "index": 0 }]
      ]
    },
    "Capture Persist Error": { "main": [[{ "node": "Email: Persist Failure", "type": "main", "index": 0 }]] },
    "Is P1?": {
      "main": [
        [
          { "node": "Email: P1 Owner Alert", "type": "main", "index": 0 },
          { "node": "Email: P1 Escalation", "type": "main", "index": 0 },
          { "node": "Email: Auto-Ack to Customer", "type": "main", "index": 0 }
        ],
        [
          { "node": "Email: Standard Owner Alert", "type": "main", "index": 0 },
          { "node": "Email: Auto-Ack to Customer", "type": "main", "index": 0 }
        ]
      ]
    },
    "Daily 7am (weekdays)": { "main": [[{ "node": "Fetch Open Tickets", "type": "main", "index": 0 }]] },
    "Fetch Open Tickets": { "main": [[{ "node": "Split Tickets", "type": "main", "index": 0 }]] },
    "Split Tickets": { "main": [[{ "node": "Flag SLA Breaches", "type": "main", "index": 0 }]] },
    "Flag SLA Breaches": { "main": [[{ "node": "Filter Breached", "type": "main", "index": 0 }]] },
    "Filter Breached": { "main": [[{ "node": "Aggregate Breaches", "type": "main", "index": 0 }]] },
    "Aggregate Breaches": {
      "main": [[
        { "node": "Email: Daily Digest", "type": "main", "index": 0 },
        { "node": "Email: Breach Escalation", "type": "main", "index": 0 }
      ]]
    },
    "On Error": { "main": [[{ "node": "Email: Pipeline Error", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "pinData": {},
  "meta": {}
}
