OLDEV-List-Hygiene-Deliverability-Preflight.json
{
  "name": "OLDEV-List-Hygiene-Deliverability-Preflight",
  "nodes": [
    {
      "parameters": {},
      "id": "22222222-0001-4001-8001-000000000001",
      "name": "Run Demo",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// Synthetic contact list (no real data). Mix of valid, invalid syntax,\n// role-based, disposable-domain, and duplicate rows on purpose.\nconst contacts = [\n  { email: 'Maya.Reed@northwind.co', name: 'Maya Reed' },\n  { email: 'maya.reed@northwind.co', name: 'Maya R.' },\n  { email: 'sales@northwind.co', name: 'Sales Desk' },\n  { email: 'omar@contoso.com', name: 'Omar Diaz' },\n  { email: 'broken@@nope', name: 'Broken Row' },\n  { email: 'test@mailinator.com', name: 'Throwaway' },\n  { email: 'jules@fabrikam.dev', name: 'Jules Tan' },\n  { email: 'guest@guerrillamail.com', name: 'Temp User' },\n  { email: 'priya@umbrella.io', name: 'Priya N.' },\n  { email: 'postmaster@umbrella.io', name: 'Postmaster' }\n];\nreturn contacts.map(function (json) { return { json: json }; });"
      },
      "id": "22222222-0002-4001-8001-000000000002",
      "name": "Generate Sample List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, -120]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const ROLE_PREFIXES = ['info','admin','sales','support','abuse','postmaster','noreply','no-reply','contact','hello','office','billing'];\nconst DISPOSABLE = ['mailinator.com','guerrillamail.com','10minutemail.com','tempmail.com','trashmail.com','yopmail.com'];\nconst seen = [];\nconst out = [];\nfor (const item of $input.all()) {\n  const j = item.json;\n  const email = String(j.email || '').trim().toLowerCase();\n  const local = email.split('@')[0] || '';\n  const domain = email.split('@')[1] || '';\n  const syntaxOk = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(email);\n  const roleBased = ROLE_PREFIXES.indexOf(local) !== -1;\n  const disposable = DISPOSABLE.indexOf(domain) !== -1;\n  const duplicate = seen.indexOf(email) !== -1;\n  seen.push(email);\n  const flags = [];\n  if (!syntaxOk) flags.push('invalid_syntax');\n  if (roleBased) flags.push('role_based');\n  if (disposable) flags.push('disposable_domain');\n  if (duplicate) flags.push('duplicate');\n  let bucket = 'clean';\n  if (!syntaxOk || disposable) bucket = 'suppress';\n  else if (roleBased || duplicate) bucket = 'risky';\n  out.push({ json: Object.assign({}, j, {\n    email: email, domain: domain, syntaxOk: syntaxOk, roleBased: roleBased,\n    disposable: disposable, duplicate: duplicate, flags: flags, bucket: bucket\n  }) });\n}\nreturn out;"
      },
      "id": "22222222-0003-4001-8001-000000000003",
      "name": "Hygiene Scan",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, -120]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  { "leftValue": "={{ $json.bucket }}", "rightValue": "clean", "operator": { "type": "string", "operation": "equals" } }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "clean"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  { "leftValue": "={{ $json.bucket }}", "rightValue": "risky", "operator": { "type": "string", "operation": "equals" } }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "risky"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  { "leftValue": "={{ $json.bucket }}", "rightValue": "suppress", "operator": { "type": "string", "operation": "equals" } }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "suppress"
            }
          ]
        },
        "options": {}
      },
      "id": "22222222-0004-4001-8001-000000000004",
      "name": "Bucket",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [660, -120]
    },
    {
      "parameters": {},
      "id": "22222222-0005-4001-8001-000000000005",
      "name": "Clean -> Import to ESP",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [880, -240]
    },
    {
      "parameters": {},
      "id": "22222222-0006-4001-8001-000000000006",
      "name": "Risky -> Re-engage / Review",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [880, -120]
    },
    {
      "parameters": {},
      "id": "22222222-0007-4001-8001-000000000007",
      "name": "Suppress -> Do Not Mail",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [880, 0]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const items = $input.all();\nconst total = items.length;\nlet clean = 0, risky = 0, suppress = 0;\nfor (const it of items) {\n  const b = it.json.bucket;\n  if (b === 'clean') clean++;\n  else if (b === 'risky') risky++;\n  else if (b === 'suppress') suppress++;\n}\nconst pct = function (n) { return total ? Math.round((n / total) * 100) : 0; };\nreturn [{ json: {\n  total: total, clean: clean, risky: risky, suppress: suppress,\n  cleanPct: pct(clean), riskyPct: pct(risky), suppressPct: pct(suppress),\n  mailablePct: pct(clean + risky)\n} }];"
      },
      "id": "22222222-0008-4001-8001-000000000008",
      "name": "Summarize Hygiene Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 160]
    },
    {
      "parameters": {},
      "id": "22222222-0009-4001-8001-000000000009",
      "name": "Write Hygiene Report",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [880, 160]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// Synthetic sending-domain posture. In production these come from DNS TXT lookups.\n// Demonstrates the SPF / DKIM / DMARC scoring used before any bulk send or migration.\nconst domain = 'send.example-brand.com';\nconst spf = { present: true, record: 'v=spf1 include:_spf.example.com ~all', softfail: true };\nconst dkim = { present: true, selector: 'default', keyBits: 1024 };\nconst dmarc = { present: true, policy: 'none', pct: 100, hasRua: true, subdomainPolicy: null };\nconst findings = [];\nlet score = 100;\nif (!spf.present) { findings.push({ sev: 'critical', msg: 'SPF missing' }); score -= 30; }\nelse if (spf.softfail) { findings.push({ sev: 'low', msg: 'SPF uses ~all (softfail); -all is stricter' }); score -= 5; }\nif (!dkim.present) { findings.push({ sev: 'critical', msg: 'DKIM missing' }); score -= 30; }\nelse if (dkim.keyBits < 2048) { findings.push({ sev: 'medium', msg: 'DKIM key ' + dkim.keyBits + '-bit; upgrade to 2048' }); score -= 15; }\nif (!dmarc.present) { findings.push({ sev: 'critical', msg: 'DMARC missing (Gmail/Yahoo bulk rules require p=none minimum)' }); score -= 30; }\nelse {\n  if (dmarc.policy === 'none') { findings.push({ sev: 'medium', msg: 'DMARC p=none; move to quarantine after report review' }); score -= 15; }\n  if (!dmarc.subdomainPolicy) { findings.push({ sev: 'low', msg: 'No explicit sp= subdomain policy' }); score -= 5; }\n}\nconst grade = score >= 90 ? 'A' : score >= 75 ? 'B' : score >= 60 ? 'C' : 'F';\nreturn [{ json: { domain: domain, spf: spf, dkim: dkim, dmarc: dmarc, score: score, grade: grade, findings: findings } }];"
      },
      "id": "22222222-0010-4001-8001-000000000010",
      "name": "Check Sending Domain (SPF/DKIM/DMARC)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 320]
    },
    {
      "parameters": {},
      "id": "22222222-0011-4001-8001-000000000011",
      "name": "Deliverability Pre-Flight Report",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [440, 320]
    },
    {
      "parameters": {
        "content": "## OLDEV: List Hygiene & Deliverability Pre-Flight\nThe front half of any CRM migration or bulk send: validate, dedupe, drop disposable/role-based, bucket into clean / risky / suppress, and score the sending domain (SPF / DKIM / DMARC) before a single email goes out. Synthetic data; no credentials needed.",
        "height": 220,
        "width": 480,
        "color": 4
      },
      "id": "22222222-0012-4001-8001-000000000012",
      "name": "Sticky Title",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [0, -380]
    },
    {
      "parameters": {
        "content": "### Why this matters\nGmail & Yahoo bulk-sender rules (enforced 2025) require SPF + DKIM + DMARC and a low complaint rate. Sending to invalid, role-based, or disposable addresses tanks reputation. This workflow stops that before the send.",
        "height": 200,
        "width": 320,
        "color": 5
      },
      "id": "22222222-0013-4001-8001-000000000013",
      "name": "Sticky Bulk",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [0, 520]
    }
  ],
  "connections": {
    "Run Demo": {
      "main": [[
        { "node": "Generate Sample List", "type": "main", "index": 0 },
        { "node": "Check Sending Domain (SPF/DKIM/DMARC)", "type": "main", "index": 0 }
      ]]
    },
    "Generate Sample List": {
      "main": [[{ "node": "Hygiene Scan", "type": "main", "index": 0 }]]
    },
    "Hygiene Scan": {
      "main": [[
        { "node": "Bucket", "type": "main", "index": 0 },
        { "node": "Summarize Hygiene Report", "type": "main", "index": 0 }
      ]]
    },
    "Bucket": {
      "main": [
        [{ "node": "Clean -> Import to ESP", "type": "main", "index": 0 }],
        [{ "node": "Risky -> Re-engage / Review", "type": "main", "index": 0 }],
        [{ "node": "Suppress -> Do Not Mail", "type": "main", "index": 0 }]
      ]
    },
    "Summarize Hygiene Report": {
      "main": [[{ "node": "Write Hygiene Report", "type": "main", "index": 0 }]]
    },
    "Check Sending Domain (SPF/DKIM/DMARC)": {
      "main": [[{ "node": "Deliverability Pre-Flight Report", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "pinData": {},
  "meta": {}
}
